__pycache__/
*.py[cod]
*$py.class
*.pyc
.env
.idea/
.venv/
/gosquad_server
dist/gosquad_headless
dist/gosquad_headless_aarch64
dist/ba_root/*
!dist/ba_root/*/
!dist/ba_root/*/*
dist/ba_root/mods/data/logs/
dist/ba_root/mods/data/state/
dist/ba_root/mods/data/live/
